[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "/home/nico/.vim/bundle/Vundle.vim"]
	path = /home/nico/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
